/* Reset some default styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

html {
	display: table;
	margin: auto;
	height: 100%;
	width: 100%;
}

body {
	height: 100vh;
}

.App {
	font-family: "Arial", sans-serif;
	text-align: center;
	margin: 0 auto;
}

// header section
.header-wrap {
	background-color: #3c31ef;
	padding: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
		line-height: 2rem;
	}

	.header-brand {
		color: white;
		margin-right: 1rem;
		i {
			margin-right: 0.5rem;
		}
	}
	.header-search {
		input {
			border: none;
			outline: none;
			width: 27vw;
			padding: 0.4rem;
			border-radius: 1rem;
			background-color: aliceblue;
		}
		.search-icon {
			margin-left: 0.5rem;
			color: white;
		}
	}
	.header-icon {
		margin-right: 0.5rem;
	}

	ul {
		list-style: none;
		display: flex;
		flex-direction: row-reverse;
	}

	a {
		text-decoration: none;
		color: white;
		margin-right: 2rem;

		@media (max-width: 768px) {
			font-size: small;
		}
	}
}

.pagination-container {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
	li {
		margin-right: 1rem;
		cursor: pointer;
	}

	.next,
	.previous {
		cursor: pointer;
	}
	.next:hover,
	.previous:hover {
		color: green;
	}
	.active-page {
		background-color: blue;
		color: white;
		padding: 0.5rem;
	}
}
.product-header-wrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	.product-list-header {
		text-align: center;
		padding: 2rem;
		font-size: 4rem;
	}
	.icon {
		font-size: 3rem;
		position: relative;
		cursor: pointer;
		color: black;
		.badge {
			position: absolute;
			width: 28px;
			height: 28px;
			background-color: red;
			border-radius: 50%;
			right: -6px;
			top: -8px;
			display: flex;
			justify-content: center;
			align-items: center;

			.number {
				font-size: 13px;
				color: white;
			}
		}
	}
}

/* Product List styles */
.product-list {
	display: grid;
	width: 100%;
	padding: 3rem;
	grid-template-columns: 25% 25% 25% 25%;
	gap: 2%;
	max-width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	justify-content: center;

	@media (max-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 2rem;
		grid-row-gap: 2rem;
	}
}
.product-wrap {
	border: 1px solid #ddd;
	padding: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	justify-content: space-between;
	border-radius: 3rem;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
		rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
		rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
	.product {
		text-align: center;

		.product-image {
			width: 200px;
			height: 200px;
		}

		h3 {
			margin-bottom: 3rem;
		}

		.product-read-more {
			color: dodgerblue;
		}
		p {
			text-align: justify;
			margin-top: 3rem;
			word-break: break-all;
		}
	}
	.btn-wrap {
		margin-top: 2rem;
		.price {
			color: green;
			margin-bottom: 1rem;
			font-weight: bold;
		}
		.quantity {
			margin-bottom: 1rem;
			.value-change-btn {
				border: none;
				outline: none;
			}
		}
		.add-to-cart-btn {
			background-color: #3c31ef;
			color: #fff;
			padding: 1rem 2rem;
			cursor: pointer;
			border: none;
			border-radius: 20px;
			font-size: 1rem;
			box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
			transition: 0.2s all;
		}
		.add-to-cart-btn:active {
			box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
			transform: translateY(6px);
		}
	}
}

/* Cart styles */
.cart {
	margin-top: 20px;

	.cart-total {
		margin: 3rem;
		padding: 1rem;
		border-top: 1px solid grey;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-size: 1.2rem;
		.cart-total-amount {
			color: green;
		}
	}

	.cart-header {
		font-size: 3rem;
		padding: 1rem;
		margin-bottom: 10px;
	}

	.cart-item {
		border: 1px solid #ddd;
		padding: 2rem;
		align-items: center;
		margin: 3rem;
		display: grid;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
			rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
		grid-template-columns: repeat(4, 1fr);

		@media (max-width: 768px) {
			grid-template-columns: repeat(1, 1fr);
		}
		.cart-quantity-value-changer {
			outline: none;
			border: none;
		}

		.total-price {
			.price-amount {
				color: green;
			}
		}
		.cart-item-title {
			margin: 1rem 0;
		}
		.cart-quantity,
		.total-price {
			margin-bottom: 1rem;
		}

		.cart-item-image {
			max-width: 100%;
			height: 100px;
			width: 100px;
			margin: 0 auto;
		}

		.remove-btn {
			color: grey;
			background: none;
			text-align: center;
			cursor: pointer;
			border: 0;
			outline: 0;
			border-radius: 2rem;
			.delete-icon {
				margin-right: 0.5rem;
			}
		}
	}
	.empty-cart-wrap {
		margin-bottom: 3rem;
		.empty-cart-img {
			max-width: 100%;
			padding: 1rem;
		}
		.empty-cart-para {
			font-weight: bold;
			font-size: 2rem;
		}
		.empty-cart-second-para {
			margin-bottom: 3rem;
		}
		.continue-shopping-link {
			text-decoration: none;
			color: white;
			background-color: #4ea5fa;
			padding: 1rem;
			margin-top: 1rem;
			box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
			transition: 0.2s all;
		}
		.continue-shopping-link::selection {
			box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
			transform: translateY(6px);
		}
	}

	.clear-button {
		color: grey;
		border: 0;
		cursor: pointer;
		padding: 1rem 2rem;
		border-radius: 1rem;
		background-color: #dfe1de;
	}
	.cart-checkout-btn {
		outline: none;
		border: none;
		padding: 1rem 4rem;
		background-color: coral;
		font-size: 1rem;
		font-weight: bold;
		color: black;
	}
}

// Footer Section
.footer {
	background-color: #3a3737;
	margin-top: 1rem;
	display: flex;
	align-items: flex-start;
	line-height: 2rem;
	padding: 1rem 0 3rem 0;
    bottom: 0;
    position: absolute;
    width: 100%;

	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
		align-items: center;
        position: static;
	}

	.footer-group {
		display: flex;
		align-items: flex-start;
		color: white;
		flex-direction: column;
		margin: 3rem 2rem 0 3rem;

		@media (max-width: 768px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		h2 {
			color: white;
		}
		a {
			text-decoration: none;
			color: #878787;
		}
	}
	.social-icons {
		display: flex;
		color: white;
		flex-direction: column;
		margin: 3rem 2rem 0 3rem;

		.social-icon-group {
			display: flex;
			flex-direction: row;
			margin-left: 1.2rem;
			i {
				margin-right: 1rem;
			}
		}
	}
}
